@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 54, 69, 79; /* Charcoal Grey */
  --background-start-rgb: 250, 249, 246; /* Warm Off-White */
  --background-end-rgb: 250, 249, 246; /* Warm Off-White */
}

body {
  color: rgb(var(--foreground-rgb));
  background: #FAF9F6; /* Warm Off-White */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

